Chess/.vscode
Chess/obj
Chess/bin
.vscode
Chess/out/runtimes/linux-x64/native/libglfw.so.3.3
Chess/out/runtimes/osx-arm64/native/libglfw.3.dylib
Chess/out/runtimes/osx-x64/native/libglfw.3.dylib
Chess/out/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Chess/out/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Chess/out/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Chess/out/runtimes/win-x64/native/glfw3.dll
Chess/out/runtimes/win-x86/native/glfw3.dll
Chess/runtimes/linux-x64/native/libglfw.so.3.3
Chess/runtimes/osx-arm64/native/libglfw.3.dylib
Chess/runtimes/osx-x64/native/libglfw.3.dylib
Chess/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Chess/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Chess/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Chess/runtimes/win-x64/native/glfw3.dll
Chess/runtimes/win-x86/native/glfw3.dll
